{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container "id="content">
  <div class="row">
      <div class="col-12">
        <h1>Hello Ms.Glass</h1>
        <p>I’ll be here, in the morning and the night,<br>
          I’ll keep reading till you turn off the light,<br>
          All the endings that I wrote to myself,<br>
          all seem far away I can’t tell,<br>
          If you miss me like I miss you,<br>
          Do you miss me like I miss you,<br>
          I’ll be here, when you walk away,<br>
          I’ll be sleeping still in the light of the day,<br>
          When I reach out, nothing stays,<br>
          Waiting for your hand to hold but there’s just empty space,<br>
          <i>Do you miss me like I miss you 4x,</i><br>
          I’ll be here, can’t get you off my mind,<br>
          When the phone rings, I got nothing but time,<br>
          I’ll be here, when you open the door,<br>
          I feel you beside me what am I missing you for,<br>
          <i>Do you miss me like I miss you 2x,</i><br>
          Wherever you are,<br>
          <i>Do you miss me like I miss you 2x,</i><br>
          <i>Do you miss,<br>
          Do you miss me,<br>
          Do you miss me like I do 4x</i></p>
      </div>
  </div>
</div>
{% endblock %}