{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block title %}Organizations{% endblock %}
{% block content %}
<div class="container "id="content">
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead><tr><th>Organizations</th></tr></thead>
        <tbody>
          {% for org in data %}
              <tr>
                <td>{{org}}</td>
                <td><a href="/values">Values</a></td>
                <td><a href="/tasks">Tasks</a></td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>   
  </div>
</div>
{% endblock %}