{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block title %}Tasks{% endblock %}
{% block content %}
<div class="container "id="content">
  <div class="row">
    {% for catagory in data %}
    <div class="col">
      <table class="table table-hover">
        <thead><tr><th>{{catagory['catagory']}}</th></tr></thead>
        {% for value in catagory['values'] %}
        <tbody><tr><td>{{value}}</td></tr></tbody>
        {% endfor %}
      </table>
    </div>
    {% endfor %}   
  </div>
</div>
{% endblock %}