{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block title %}Tasks{% endblock %}
{% block content %}
<div class="container "id="content">
  <div class="row">
    <div class="col"> 
      <table class="table table-hover">
    {% for task in data %}
        <thead><tr><th>{{task['catagory']}}</th></tr></thead>
        {% for value in catagory['values'] %}
        <tbody><tr><td>{{value}}</td></tr></tbody>
        {% endfor %}
    {% endfor %}
      </table>
    </div>   
  </div>
</div>
{% endblock %}